<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bean.dao.VendingUpMapper">
    <resultMap id="BaseResultMap" type="com.bean.model.VendingUp">
        <id column="vending_up_id" property="vendingUpId" jdbcType="BIGINT"/>
        <result column="track_id" property="trackId" jdbcType="BIGINT"/>
        <result column="product_id" property="productId" jdbcType="BIGINT"/>
        <result column="product_num" property="productNum" jdbcType="BIGINT"/>
        <result column="operator_date" property="operatorDate" jdbcType="TIMESTAMP"/>
        <result column="manager_id" property="managerId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    vending_up_id, track_id, product_id, product_num, operator_date, manager_id
  </sql>
    <sql id="where">
        <where>
            <if test="trackId != null">
                AND track_id = #{trackId,jdbcType=BIGINT}
            </if>
            <if test="productId != null">
                AND product_id = #{productId,jdbcType=BIGINT}
            </if>
            <if test="productNum != null">
                AND product_num = #{productNum,jdbcType=BIGINT}
            </if>
            <if test="operatorDate != null">
                AND operator_date = #{operatorDate,jdbcType=TIMESTAMP}
            </if>
            <if test="managerId != null">
                AND manager_id = #{managerId,jdbcType=BIGINT}
            </if>
        </where>
    </sql>
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from cd_vending_up
        where vending_up_id = #{vendingUpId,jdbcType=BIGINT}
    </select>
    <select id="getByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from cd_vending_up
        <include refid="where"/>
    </select>
    <select id="getListByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from cd_vending_up
        <include refid="where"/>
    </select>
    <delete id="deleteById" parameterType="java.lang.Long">
    delete from cd_vending_up
    where vending_up_id = #{vendingUpId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.bean.model.VendingUp">
        insert into cd_vending_up
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vendingUpId != null">
                vending_up_id,
            </if>
            <if test="trackId != null">
                track_id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="productNum != null">
                product_num,
            </if>
            <if test="operatorDate != null">
                operator_date,
            </if>
            <if test="managerId != null">
                manager_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vendingUpId != null">
                #{vendingUpId,jdbcType=BIGINT},
            </if>
            <if test="trackId != null">
                #{trackId,jdbcType=BIGINT},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="productNum != null">
                #{productNum,jdbcType=BIGINT},
            </if>
            <if test="operatorDate != null">
                #{operatorDate,jdbcType=TIMESTAMP},
            </if>
            <if test="managerId != null">
                #{managerId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <insert id="insertList" parameterType="java.util.HashMap">
        insert into cd_vending_up
        (
        track_id,
        product_id,
        product_num,
        product_old_num,
        operator_date,
        manager_id,
        vendor_id,
        track_num
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            (SELECT
            cva.id
            FROM
            cd_vendor_aisle cva
            INNER JOIN cd_vendor cv ON cva.fk_vendor = cv.id
            WHERE
            cv.vendor_num=#{vendingCode,jdbcType=VARCHAR}
            AND cva.aisle_num=#{item.trackCode,jdbcType=VARCHAR}
            ),
            (SELECT
            cva.fk_np_goods
            FROM
            cd_vendor_aisle cva
            INNER JOIN cd_vendor cv ON cva.fk_vendor = cv.id
            WHERE
            cv.vendor_num=#{vendingCode,jdbcType=VARCHAR}
            AND cva.aisle_num=#{item.trackCode,jdbcType=VARCHAR}
            ),
            (SELECT #{item.productNum,jdbcType=BIGINT}
            -(SELECT
            stock
            FROM
            cd_vendor_aisle cva
            INNER JOIN cd_vendor cv ON cva.fk_vendor = cv.id
            WHERE
            cv.vendor_num=#{vendingCode,jdbcType=VARCHAR}
            AND cva.aisle_num=#{item.trackCode,jdbcType=VARCHAR})
            ),
            (SELECT
            stock
            FROM
            cd_vendor_aisle cva
            INNER JOIN cd_vendor cv ON cva.fk_vendor = cv.id
            WHERE
            cv.vendor_num=#{vendingCode,jdbcType=VARCHAR}
            AND cva.aisle_num=#{item.trackCode,jdbcType=VARCHAR}
            )
            ,
            #{item.operatorDate,jdbcType=TIMESTAMP},
            #{item.managerId,jdbcType=BIGINT},
            (SELECT
            id
            FROM
             cd_vendor
            WHERE
            vendor_num=#{vendingCode,jdbcType=VARCHAR}),
            #{item.trackCode,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="updateAddStockList" parameterType="java.util.HashMap">
        update cd_vendor_aisle
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="stock =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when id= (SELECT b.id FROM(SELECT
                    cva.id
                    FROM
                    cd_vendor_aisle cva
                    INNER JOIN cd_vendor cv ON cva.fk_vendor = cv.id
                    WHERE
                    cv.vendor_num=#{vendingCode,jdbcType=VARCHAR}
                    AND cva.aisle_num=#{item.trackCode,jdbcType=VARCHAR}
                    )b) then
                    #{item.productNum,jdbcType=BIGINT}
                </foreach>
            </trim>
        </trim>
        <where>
            <foreach collection="list" separator="or" item="itemWhere" index="index">
                id =(SELECT a.id FROM(
                SELECT
                cva.id
                FROM
                cd_vendor_aisle cva
                INNER JOIN cd_vendor cv ON cva.fk_vendor = cv.id
                WHERE
                cv.vendor_num=#{vendingCode,jdbcType=VARCHAR}
                AND cva.aisle_num=#{itemWhere.trackCode,jdbcType=VARCHAR}
                )a)
            </foreach>
        </where>
    </update>
    <update id="update" parameterType="com.bean.model.VendingUp">
        update cd_vending_up
        <set>
            <if test="trackId != null">
                track_id = #{trackId,jdbcType=BIGINT},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=BIGINT},
            </if>
            <if test="productNum != null">
            </if>
            <if test="operatorDate != null">
                operator_date = #{operatorDate,jdbcType=TIMESTAMP},
            </if>
            <if test="managerId != null">
                manager_id = #{managerId,jdbcType=BIGINT},
            </if>
        </set>
        where vending_up_id = #{vendingUpId,jdbcType=BIGINT}
    </update>
</mapper>